html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.navbar {
    background-color: #467C37;
    color: white;

}

.body-background {
    background-color: #FAEDC3;
}

.footer-background {
    background-color: #F28080;
}

.ch-colors {
    background-color: #EDBD11;
    font-weight: bold;
    color: black;
}

.btn-colors {
    background-color: #EDED11;
    border: 1px solid #BFBFBA;
    color: black;
}

    .btn-colors:hover {
        background-color: #BF980B;
        color: black;
    }

.btn-colors-2 {
    background-color: #E37332;
    border: 1px solid #BFBFBA;
    color: black;
}

    .btn-colors-2:hover {
        background-color: #BA4F11;
        color: black;
    }